@import "./abstracts/variables";

.footer {
    background: $seconday-color;
    padding: 53px 16px 40px 17px;

    @media (min-width: $bp-md) {
        padding: 96px 22px 60px 32px;
    }

}

.footer__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 139px;
    margin: 0 auto 113px;
    border: 1px solid #F2F2F2;
    padding: 6px 137px;
    // max-width: 342px;
    min-height: 72px;

    @media (min-width: $bp-md) {
        max-width: 714px;
        min-height: 150px;
        gap: 45px;
        padding: 6px 19px;
        margin: 0 auto 60px;
    }

    @media (min-width: $bp-md) {
        max-width: 914px;
        min-height: 192px;
        margin: 0 auto 163px;
    }
}

.footer__img {
    width: 52px;
    height: 51px;

    @media (min-width: $bp-md) {
        width: 108px;
        height: 108px;
    }
}


.footer__span-new-project {
    color: $primary-color;
    font-family: DynaPuff;
    font-size: 20px;
    font-weight: 700;
    min-width: 203px;
    margin-bottom: 4px;


    @media (min-width: $bp-md) {
        font-size: 48px;
        // min-width: 487px;
        margin-bottom: 17px;
    }
}

.footer__span {
    color: $primary-color;
    font-size: 15px;
    font-weight: 500;
    position: relative;

    &::after {
        content: url("../../img/arrow.png");
        width: 32.788px;
        height: 15.5px;
        display: block;
        position: absolute;
        top: 0;
        left: 130px;
    }

    @media (min-width: $bp-md) {
        font-size: 24px;

        &::after {
            content: url("../../img/arrow-md.png");
            width: 55px;
            height: 26px;
            top: 0;
            left: 199px;
        }
    }
}

.footer__wrapper-images {
    display: flex;
    gap: 34px;
    justify-content: center;
    margin-bottom: 21px;
}

.footer__span-copyright {
    text-align: center;
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;

    @media (min-width: $bp-md) {
        font-size: 16px;
    }
}