@import "./abstracts/variables";

.good-design {
    background-image: url("../../img/good-design-tel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: lightgrey;

    @media (min-width: $bp-md) {
        background-image: url("../../img/good-design-md.jpg");
    }

    @media (min-width: $bp-lg) {
        .good-design__content-container {
            max-width: 1050px;
            margin: 0 auto;
        }
    }
}

.good-design__title {
    color: $primary-color;
    font-size: 24px;
    text-align: center;
    padding: 180px 16px 173px;


    @media (min-width: $bp-md) {
        padding: 274px 31px 294px 32px;
        font-size: 48px;
    }
}