@import "./abstracts/variables";

.graphics-design {
    background: $seconday-color;
    padding: 58px 21px 93px 16px;

    @media (min-width: $bp-md) {
        padding: 82px 32px 129px;
    }

    @media (min-width: $bp-lg) {
        .graphics-design__content-container {
            max-width: 1050px;
            margin: 0 auto;
        }
    }
}


@media (min-width: $bp-md) {
    .graphics-design__wrapper {
        display: flex;
        gap: 34px;
        justify-content: center;
        align-items: center;
        // min-width: 704px;
    }

    @media (min-width: $bp-lg) {
        .graphics-design__wrapper {
            gap: 26px;
        }
    }
}

.graphics-design__title {
    color: $primary-color;
    font-size: 32px;
    margin-bottom: 28px;

    @media (min-width: $bp-md) {
        font-size: 80px;
        margin-bottom: 38px;
    }
}


.graphics-design__wrapper-img-design {
    position: relative;

    &::after {
        content: url("../../img/star-tel.png");
        display: block;
        width: 172px;
        height: 172px;
        position: absolute;
        top: 31px;
        right: 41px;
    }

    @media (min-width: $bp-md) {
        &::after {
            content: url("../../img/star-md.png");
            width: 227px;
            height: 227px;
            position: absolute;
            top: 84px;
            left: 242px;
        }
    }

    @media (min-width: $bp-lg) {
        &::after {
            content: url("../../img/star-lg.png");
            width: 268px;
            height: 268px;
            top: 69px;
            left: 400px;
        }
    }
}

.graphics-design__img-design {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 20px;
    position: relative;

    @media (min-width: $bp-md) {
        min-width: 704px;
        margin-bottom: 26px;
    }

    @media (min-width: $bp-lg) {
        min-width: 1055px;
    }
}

.graphics-design__wrapper-img-stripe {
    position: relative;

    &::after {
        content: url("../../img/Butterfly-tel.png");
        display: block;
        width: 134px;
        height: 137px;
        position: absolute;
        top: 58px;
        right: 61px;
    }

    @media (min-width: $bp-md) {

        &::after {
            content: url("../../img/butterfly-md.png");
            width: 147px;
            height: 151px;
            top: 107px;
            right: 90px;
        }
    }

    @media (min-width: $bp-lg) {
        &::after {
            content: url("../../img/butterfly-lg.png");
            width: 187px;
            height: 191px;
            top: 114px;
            right: 165px;
        }
    }
}

.graphics-design__img-stripe {
    width: 100%;
    margin-bottom: 32px;

    @media (min-width: $bp-md) {
        min-width: 336px;
        margin-bottom: unset;
    }

    @media (min-width: $bp-lg) {
        min-width: 514px;
    }

}

.graphics-design__wrapper-img-letters {
    position: relative;

    &::after {
        content: url("../../img/asterisk-tel.png");
        display: block;
        width: 148px;
        height: 143px;
        position: absolute;
        top: 62px;
        right: 63px;
    }

    @media (min-width: $bp-md) {
        &::after {
            content: url("../../img/asterisk-ld.png");
            width: 183px;
            height: 177px;
            top: 62px;
            right: 94px;
        }
    }


    @media (min-width: $bp-lg) {
        &::after {
            content: url("../../img/Asterisk-lg.png");
            width: 232px;
            height: 225px;
            top: 93px;
            right: 143px;
        }
    }
}


.graphics-design__img-letters {
    // min-width: 343px;
    margin-bottom: unset;

    @media (min-width: $bp-md) {
        min-width: 334px;
    }

    @media (min-width: $bp-lg) {
        min-width: 514px;
    }
}