@import "./abstracts/variables";
$color-yellow: #FAEB49;

.meet-alex {
    width: 100%;
    background: $seconday-color;
    position: relative;
    padding: 72px 16px 76px;

    &::after {
        content: url(../../img/ellipse-tel.png);
        width: 167px;
        height: 319px;
        display: block;
        position: absolute;
        top: 82px;
        right: -94px;
    }

    &::before {
        content: url(../../img/Ellipse2-tel.png);
        width: 167px;
        height: 319px;
        display: block;
        position: absolute;
        top: 93px;
        right: -96px;
    }

    @media (min-width: $bp-md) {
        padding: 101px 195px 102px 33px;


        &::after {
            content: url(../../img/Ellipse-md.png);
            width: 268px;
            height: 512px;
            top: 25px;
            right: -83px;
        }

        &::before {
            content: url(../../img/Ellipse-2-md.png);
            width: 268px;
            height: 512px;
            top: 9px;
            right: -85px;
        }
    }

    @media (min-width: $bp-lg) {
        padding: 101px 0 102px;


        &::after {
            content: url(../../img/Ellipse-lg.png);
            width: 268px;
            height: 512px;
            top: 9px;
            right: 66px;
        }

        &::before {
            content: url(../../img/Ellipse-2-lg.png);
            right: 65px;
        }

    }
}

.meet-alex__span {
    color: $primary-color ;
    font-size: 16px;
    font-weight: 700;
}

.meet-alex__title {
    color: $color-yellow;
    font-size: 36px;
    margin-bottom: 40px;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }
}

.meet-alex__paragraph {
    color: $primary-color;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 40px;
    position: relative;

    @media (min-width: $bp-md) {
        font-size: 16px;
        max-width: 524px;
    }
}

.meet-alex__span-number {
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
    color: $primary-color ;
    margin-bottom: 5px;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }
}

.meet-alex__flex-wrapper {
    @include flex();

    @media (min-width: $bp-md) {
        display: flex;
        gap: 96px;
        max-width: 540px;
    }
}

@media (min-width: $bp-lg) {
    .meet-alex__content-container {
        max-width: 1059px;
        margin: 0 auto;
    }
}