@import "./abstracts/variables";
$grey-color: #3C3C3C;
$card-color: #FFFEF2;
$title-color: #565656;



.project-banking {
    width: 100%;
    background: $grey-color;
    padding: 52px 21px 85px 16px;

    @media (min-width: $bp-md) {
        padding: 52px 32px 122px 33px;

    }
}

.project-banking__card {
    border-radius: 24px;
    background: $card-color;
    padding: 16px;
    margin-bottom: 63px;

    @media (min-width: $bp-md) {
        padding: 24px 20px;
        margin-bottom: 102px;
    }

    @media (min-width: $bp-lg) {
        margin-bottom: 63px;
    }
}

.project-banking__img {
    width: 100%;
    height: 251px;
    object-fit: cover;
    border-radius: 13px;
    margin-bottom: 20px;

    @media (min-width: $bp-md) {
        height: 498px;
    }

    @media (min-width: $bp-lg) {
        width: 100%;
        height: 498px;
    }
}

.project-banking__title {
    color: $title-color;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 22px;

    @media (min-width: $bp-md) {
        font-size: 40px;
    }
}

.project-banking__paragraph {
    color: #000;
    font-size: 15px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 16px;
    }
}

.project-banking__card-save-planet {
    border-radius: 24px;
    background: $card-color;
    padding: 12px;
    margin-bottom: 20px;

    @media (min-width: $bp-md) {
        border-radius: 24px;
        padding: 20px;
        margin-bottom: unset;

    }
}

.project-banking__title-save-planet {
    color: $title-color;
    font-size: 20px;
    margin-bottom: 22px;
    max-width: 319px;
}

.project-banking__paragraph-save-planet {
    font-weight: 500;
    color: #000;
    font-size: 15px;

    @media (min-width: $bp-md) {
        font-size: 16px;
    }
}

.project-banking__img-save-planet {
    width: 100%;
    height: 363px;
    border-radius: 13px;
    margin-bottom: 20px;


    @media (min-width: $bp-md) {
        height: 448px;
    }

    @media (min-width: $bp-lg) {
        height: 338px
    }
}

.project-banking__card-banking-mobile {
    display: none;

    @media (min-width: $bp-md) {
        display: block;
    }
}

@media (min-width: $bp-md) {

    .project-banking__wrapper {
        display: flex;
        gap: 40px;
    }
}

.project-banking__card-color {
    display: none;

    @media (min-width: $bp-lg) {
        display: block;
    }
}

@media (min-width: $bp-lg) {
    .project-banking__content-container {
        max-width: 1050px;
        margin: 0 auto;
    }
}